* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 400px;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
}

.display {
  font-family: monospace;
  background-color: #ffffff;
  padding: 20px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; 
}

button {
  flex: 1; /* Ensures equal distribution of space among buttons */
  margin: 0 2px; /* Added a slight margin for spacing */
  padding: 5px;
  font-size: 20px;
  background-color: #d8d9db;
  border: none;
  border-radius: 1px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #bbbcbe;
}

button.function {
  background-color: #df974c;
}

button.function:hover {
  background-color: #dfb07e;
}

button.function:active {
  background-color: #dd8d37;
}
button#wide {
  flex: 2;
  margin-right:
}
